.container {
    background-color: tan;
    opacity: .9;
    font-family: arial;
    text-align: center;
    font-size: 22px;
    /*margin: 180px;*/
    margin-left: 500px;
    margin-top: 100px;
    width: 600px;
    height: 350px;
    outline: dashed 1px black;
    /* Setup */
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.searchresults{

    text-align: center;
    background-color: tan;
    border-color: black;
}