<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/">
    <title>Date Night</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!--Initial loop to run through businesses list-->
<div th:each="business : ${dateNight.businesses}">
    <p th:text = "${business.categories.get(0).title}"></p>
    <!--properties of the business object-->
    <div class="searchresults">
        <p class ="name" th:text = "${business.name} ">
        </p>
        <p th:text = " ' Rating: ' +  ${business.rating} + ' Price: ' + ${business.price} ">
        </p>
        <a th:href="${business.url}">Business' Yelp Review Website</a>
        <p th:text= "${business.locationDetails.displayAddress.get(0)}">
        </p>
    </div>
</div>
</body>
</html>