<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/">
    <title>Family Outings</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navigation</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="favorites">Favorites</a>
            <a class="nav-item nav-link" href="datenight">Date Nights</a>
            <a class="nav-item nav-link" href="familyoutings">Family Outings</a>
            <a class="nav-item nav-link" href="drinks">Distilleries & More</a>
            <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
    </div>
</nav>

<!--Initial loop to run through businesses list-->
<div th:each="business : ${family.businesses}">
    <p th:text = "${business.categories.get(0).title}"></p>
    <!--properties of the business object-->
    <div class="searchresults">
        <p class ="name" th:text = "${business.name} ">
        </p>
        <p th:text = " ' Rating: ' +  ${business.rating} + ' Price: ' + ${business.price} ">
        </p>
        <a th:href="${business.url}">Business' Yelp Review Website</a>
        <p th:text= "${business.locationDetails.displayAddress.get(0)}">
        </p>
    </div>
</div>
</body>
</html>