<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<style>

</style>
<body>
<h1>So you're new in town...</h1>

<form action="/search" >
    <input name="userEnteredCity" type="search" placeholder="Search city" required="required" autocomplete="off"/>
    <input name="userEnteredCategory" type="search" placeholder="Search Category" required="required" autocomplete="off"/>
    <p> Try "Bars", "Restaurants", "Lounges"</p>
    <input type="submit" value="Submit">
<!--    Make category into dropdown-->
</form>

</body>
</html>