<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheet.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<style>
    h1{
        text-align: center;
        /*margin-top: 120px;*/
    }
</style>
<body>

<div class="w3-sidebar w3-white w3-bar-block" style="width:10%">
    <h3 class="w3-bar-item">Navigation</h3>
    <a href="home" class="w3-bar-item w3-button">Home</a>
    <a href="favorites" class="w3-bar-item w3-button">Your Favorites</a>
    <a href="datenight" class="w3-bar-item w3-button">Date Nights</a>
    <a href="familyoutings" class="w3-bar-item w3-button">Family Outings</a>
    <a href="cocktailhappyhour" class="w3-bar-item w3-button">Cocktail Happy Hour</a>
    <a href="latenight" class="w3-bar-item w3-button">Late Night Grub</a>


</div>
<h1>So you're new in town...</h1>
<div class="container">

    <script type="text/javascript">
        function EnableDisableTextBox(userEnteredCategory) {
            var selectedValue = userEnteredCategory.options[userEnteredCategory.selectedIndex].value;
            var txtOther = document.getElementById("txtOther");
            txtOther.disabled = selectedValue == 5 ? false : true;
            if (!txtOther.disabled) {
                txtOther.focus();
            }
        }
    </script>


<form action="/search" >
    <input name="userEnteredCity" type="search" placeholder="Search City" required="required" autocomplete="on"/>
    <br>
<!--    <input name="userEnteredCategory" type="search" placeholder="Search Category" required="required" autocomplete="off"/>-->
<!--    <p> Try "Bars", "Restaurants", "Lounges" , "Italian" , "Seafood" as Category </p>-->
<!--    <input type="submit" value="Submit">-->

    <span>Select your Category or choose other to try your luck at one! Looking for a specific cuisine search it here. </span>
    <select name = "userEnteredCategory" id = "userEnteredCategory" onchange = "EnableDisableTextBox(this)">
        <option value = "1">Restaurants</option>
        <option value = "2">Bars</option>
        <option value = "3">Lounges</option>
        <option value = "4">Seafood</option>
        <option value = "5">Latin</option>
        <option value = "5">Other</option>
    </select>
    <br />
    <br />
    Other:
    <input name = "userEnteredCategory" type="search" id="txtOther" disabled="disabled" />
    <input type="submit" value="Submit">

</form>
</div>
</body>
</html>