<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8/">
    <title>Search Results</title>
    <link rel="stylesheet" href="/stylesheet.css">
</head>
<style>

</style>
<body>

<!--Initial loop to run through businesses list-->
<div th:each="business : ${userInputKey.businesses}">
<!--properties of the business object-->
    <div class="searchresults">
    <p th:text = "${business.name} + ${business.rating} ">
    </p>
    <p th:text= "${business.rating}">
    </p>
    <p th:text= "${business.price}">
    </p>
        <p th:text= "${business.locationDetails.displayAddress.get(0)} ">
        </p>
</div>
</div>
</body>
</html>